<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:c="http://java.sun.com/jsp/jstl/core">
<html xmlns:form="http://www.springframework.org/tags/form">
<html xmlns:spring="http://www.springframework.org/tags">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Crypto"</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<h1>Crypto</h1>
<br>
<h1>Note</h1>


<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main class="px-3">
        <h1>Дневник торговли.</h1>
        <p class="lead">Журнал прибыльных или убыточных торговых дней. </p>

    </main>
    <a class=" btn btn-lg btn-secondary fw-bold border-white bg-black" href ="/blog/add">Добавить статью</a>

    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <h3 th:text="${el.title}"/>
        <h1 th:text="${el.anons}"/>
        <p th:text="${el.text}"/>
        <a th:href="'/blog/' + ${el.id}+'/edit'" class = "btn btn-warning">Редактировать</a><br>


        <form th:action="'/blog/' + ${el.id} + '/remove'" method ="post">
            <button class = "btn btn-warning" type="submit">Удалить</button>
            </form>
    </div>




<div class = "container mt-5">
        <p class="lead">

            <a href="/" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Вернуться на главную</a>
        </p>
    </div>
    <style>
    background-image: url(file:///D:/JAva/Project/cryptonote/bitcoin.jpg); }
    </style>
    <img th:src="@{bitcoin.jpg}" alt=""/>
    <footer class="mt-auto text-white-50">
        <p>Made by <a href="https://vk.com/fakiros/" class="text-white"> Petr Kurtov</a></a>.</p>
    </footer>
</div>
</body>
</body>





<!--</body>
<p th:text="'Привет, ' + ${title} + '!'" />
</body> -->
</html>