<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <title>CryptoN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <h1>Crypto</h1>
    <br>
    <h1>Note</h1>

</head>
<body>
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-5">
        <h1>Дневник торговли.</h1>
        <p class="lead">Журнал прибыльных или убыточных торговых дней. </p>
        <p class="lead">
            <a href="/blog" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Перейти к дневнику</a>
        </p>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Made by <a href="https://vk.com/fakiros/" class="text-white"> Petr Kurtov</a></a>.</p>
    </footer>
</div>







</body>
</html>